{% extends '@EasyAdmin/crud/index.html.twig' %}
{% block global_actions %}
    {{parent()}}
{#    <div class="button-action">
        <a class="btn btn-primary" href="{{ path('app_generate') }}" target="_self">
            {{"Generate"|trans() }}
        </a>
    </div> #}
{% endblock %}